html{
    background-color: black;
    color:white;
    font-family: "Open Sans",sans-serif;
    font-size:35px;

}

#outer-container{
    align-items: center;
    display:flex;
    flex-direction: column;
    height: 100vh;

}

#display-area{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 360px;
    background-color: rgba(255,255,255,0.125);
    border-radius: 20px;
  
   
}
#entered-area{
    
    
    height:12.5vh;
    line-height: 12.5vh;
    width:auto;
    text-align: right;
    border-bottom: rgba(255,255,255,0.1) 1px solid;
    
    
      
}

#result-area{

    height:12.5vh;
    line-height: 12.5vh;
    width:auto;
    text-align: right;
    
    
    
  
}

.text{
    margin: 0px;
    padding-right:15px;
    padding-top:3px;
    padding-left:15px;
    
    white-space: nowrap;
    overflow-y: auto;
    scrollbar-color: rgba(255,255,255,0.2) transparent;
    scrollbar-width: thin;
    
    color: rgba(255,255,255,0.7);
}

.btn{
   
    border-radius: 100%;
    height:75px;
    width: 75px;
    text-decoration: none;
    border: none;
    font-family: "Roboto Mono",monospace;
    font-size:23px;
    
}



#button-area{
    height: 73vh;
    width: auto;
    margin-top:2vh;
    display:grid;
    grid-template-columns: repeat(4,90px);
    grid-template-rows: repeat(5,90px);
    justify-items: center;
    align-items: center;
    
    grid-template-areas: 
    " clr   del     pow     divd"
    " seven eight   nine    mult"
    " four  five    six     minus"
    " one   two     three   plus"
    " zro   zro     dec     calc";
}


#btn0 {
    grid-area:zro;
    width:165px;
    border-radius: 50px;
}
#btn1{grid-area:one;}
#btn2{grid-area:two;}
#btn3{grid-area:three;}
#btn4{grid-area:four;}
#btn5{grid-area:five;}
#btn6{grid-area:six;}
#btn7{grid-area:seven;}
#btn8{grid-area:eight;}
#btn9{grid-area:nine;}
#btnPl{grid-area:plus;}
#btnMn{grid-area:minus;}
#btnMl{grid-area:mult;}
#btnDv{grid-area:divd;}
#btnCLR{grid-area:clr;}
#btnCALC{grid-area:calc;}
#btnDv{grid-area:divd;}
#btnDEC{grid-area:dec}
#btnPOW{grid-area:pow;}
#btnDEL{grid-area:del;}