body{

}

#outer-container{
    align-items: center;
    display:flex;
    flex-direction: column;
   

}

#display-area{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 25vw;
    background-color:yellow;
}
#entered-area{

    height:12.5vh;
    width:25vw;
    text-align: right;
    background-color:grey;
}
#entered-text{
    padding:10px;
      
}
#result-area{

    height:12.5vh;
    width:25vw;
    text-align: right;
    background-color:pink;
}
#result-text{
    padding:10px;
      
}

.button{
    font-family: 'Courier New', Courier, monospace;
    font-size: auto;
    
}


#button-area{
    height: 75vh;
    width: 25vw;
    background-color:blue;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    " clr   del     pow     divd"
    " seven eight   nine    mult"
    " four  five    six     minus"
    " one   two     three   plus"
    " zro   zro     dec     calc";
}

#btn0 {grid-area:zro;}
#btn1{grid-area:one;}
#btn2{grid-area:two;}
#btn3{grid-area:three;}
#btn4{grid-area:four;}
#btn5{grid-area:five;}
#btn6{grid-area:six;}
#btn7{grid-area:seven;}
#btn8{grid-area:eight;}
#btn9{grid-area:nine;}
#btnPl{grid-area:plus;}
#btnMn{grid-area:minus;}
#btnMl{grid-area:mult;}
#btnDv{grid-area:divd;}
#btnCLR{grid-area:clr;}
#btnCALC{grid-area:calc;}
#btnDv{grid-area:divd;}
#btnDEC{grid-area:dec}
#btnPOW{grid-area:pow;}
#btnDEL{grid-area:del;}
